<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tutorial_conexion.Properties.Settings.cn" connectionString="Data Source=DESKTOP-3829VRG;Initial Catalog=tutorial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>